/select/parts/コメント*
/userdata/*
/userdata/playlog.log
/userdata/backup/data_*
/select/background/slideshow/*
/userdata/data_souki
/userdata/data_test user
/result/background/lamps/aeasy/三村かな子+[ドルチェ・クラシカ].png
/result/background/lamps/easy/氏家むつみ[心躍るアドベンチャー].png
/result/background/lamps/exhard/緒方智絵里＋[マイ・フェアリーテイル].png
/result/background/lamps/failed/神崎蘭子+[運命の待ち人].png
/result/background/lamps/fullcombo/中野有香[太陽より熱く！].png
/result/background/lamps/hard/乙倉悠貴+[憧れへのステップ].png
/result/background/lamps/normal/新田美波+[夏色の南風].png
/result/background/lamps/perfect/双葉杏＋[おーる・ふぉー・ふぁん].png
/result/background/ranks/a/今井リサ+[お菓子作りはおまかせ].png
/result/background/ranks/aa/氷川日菜[ゲレンデサイコー！].png
/result/background/ranks/aaa/山吹沙綾+[おそろいのシュシュ].png
/result/background/ranks/b/宇田川巴+[守ってみせる！].png
/result/background/ranks/c/山吹沙綾+[おそろいのシュシュ].png
/result/background/ranks/d/青葉モカ+[謎の美少女].png
/result/background/ranks/e/美竹蘭+[ここにいる証].png
/result/background/ranks/f/今井リサ+[努力の跡].png
/lua/cache/music_data.lua
/generated/custom_groove/groove_*
/generated/custom_groove/id.txt